a {
  color: #0e9ce0;
}
span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}

/* #organizer-list */

#organizer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
}

#organizer-list figure,
#organizer-list figcaption {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#organizer-list figcaption {
  justify-content: space-between;
  font-style: inherit;
  height: 100%;
}

#organizer-list p {
  margin: 0.5em 0;
}

/* #organizer-list .title::after {
  content: ", ";
} */

#organizer-list .title {
  font-style: italic;
}

#organizer-list .title,
#organizer-list .affiliation {
  display: block;
  justify-content: center;
}

#organizer-list .title + .affiliation {
  margin-top: .5em;
}

.name {
  font-weight: bold;
  font-size: 1.0625em;
}

#organizer-list .email {
  margin-top: auto;
  font-family: monospace;
  font-style: normal;
  text-decoration: none;
}

#organizer-list .contact {
  font-family: monospace;
  display: flex;
  gap: .25em;
}

#organizer-list .contact > * {
  /* background-color: #06e; */
  /* color: #eee; */
  padding: .25em .5em;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
}
#organizer-list .blurb {
  display: none;
}

#organizer-list .avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  margin: .5em;
  border-radius: 50%;
}

/* Speakers */

.speakers {
  list-style: none;
  padding-left: 0;
}

.speakers li {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.speakers .info {
  flex: 1;
  display: flex;
  flex-basis: 30ch;
  flex-flow: column;
  gap: 1rem;
}

.speakers .avatar {
  flex-shrink: 1;
}

.speakers .info p {
  margin: 0;
}

/* .speakers .name::before {
  content: "Speaker:";
  display: block;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 75%;
} */

.speakers .name {
  font-size: 1em;
}

.speakers .talk {
  font-style: italic;
  font-weight: bold;
}

.speakers .talk::before {
  display: block;
  content: "Talk:";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 75%;
  opacity: .75;
}

h2.underlined {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #888;
  margin-bottom: 1rem;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
}